packaging==24.1
pillow==11.0.0
tqdm==4.67.1
numpy==1.26.4
clip==1.0
ftfy==6.3.1
regex==2024.11.6
setuptools==75.1.0
scikit-image==0.18.3
ipython==8.15.0
matplotlib==3.9.2
PyYAML==6.0.2
easydict==1.13
imageio==2.33.1
imageio-ffmpeg==0.6.0
PyGLM==2.8.2
plotly==5.24.1
diffusers==0.31.0
transformers>=4.45
accelerate>=0.34
safetensors>=0.4
kornia==0.8.1
ninja==1.11.1.4
trimesh==4.5.3
pandas==2.2.3
seaborn==0.13.2
fvcore==0.1.5.post20221221
iopath==0.1.10
pymeshlab